:root{
  --yellow: #ffcd00;
  --black: #000000;
  --gray: #141418;
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

.post {
  padding-top: 10px;
  width:100vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post .postheader .usernick a{
  color: #ffcd00;
}

.post:hover {
  background-color: var(--gray);
  cursor: pointer;
}
.post .title {
  border-bottom: 1px solid lightgray;
  color: white;
}

.post .body {
  margin: 2%;
}

.post .footer {
  border-bottom: 1px solid lightgray;
  padding-left: 15px;
  color: white;

}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  margin-bottom: 10px;
}
.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: var(--yellow);
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: auto;
  padding: 0 10vw;
  margin-top: 5%;
  border-bottom: 1px solid var(--yellow);
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  align-self: flex-end;
  background-color: var(--yellow);
  color: #000;
  border-radius: 5px;
  font-weight: bold;

}

.formContainer button:hover {
  cursor: pointer;
  background-color: #c79f00;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar .links a{
  transition: all 1s;
  font-weight: bold;
}
.navbar .links a:hover{
  transform: scale(1.1);
  text-shadow: rgba(0, 0, 0, 0.233) 2px 2px 4px;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: var(--gray);
  color: #ffcd00;
  box-shadow: 3px 4px 5px black;
  transition: all 1s;
  text-transform: capitalize;
}
.navbar button:hover{
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}
