:root{
  --yellow: #ffcd00;
  --black: #000000;
  --gray: #141418;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: rgb(0, 0, 0);
}

.post {
  padding-top: 10px;
  width:80vw;
  margin:0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post .postheader .usernick a{
  color: #ffcd00;
  margin-left: 2%;
}

.post:hover {
  background-color: #f0f0f5;
  cursor: pointer;
}
.post .title {
  border-bottom: 1px solid lightgray;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.post .body {
  margin: 2%;
}
.homePost{
  margin-left: 5vw;
}
.post .footer {
  border-bottom: 1px solid lightgray;
  padding-left: 15px;
  color: var(--yellow);

}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  margin-bottom: 10px;
}
.likeBttn {
  color: rgba(105, 105, 105, 0.966);
}
.unlikeBttn {
  color: var(--yellow);
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: auto;
  padding: 0 15vw;
  margin-left: 10vw;
  border-bottom: 1px solid var(--yellow);
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  align-self: flex-end;
  background-color: var(--yellow);
  color: #000;
  border-radius: 5px;
  font-weight: bold;

}

.formContainer button:hover {
  cursor: pointer;
  background-color: #c79f00;
}

span {
  color: var(--yellow);
}

/* NAVBAR */
.navbar {
  width: auto;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.navbar .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.navbar .links a{
  transition: all 1s;
  font-weight: bold;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .links a:hover{
  transform: scale(1.1);
  text-shadow: rgba(0, 0, 0, 0.233) 2px 2px 4px;
}

.navbar .loggedInContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 0px;
  text-decoration: none;
  color: white;
  
}

.navbar button {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: var(--gray);
  color: #ffcd00;
  box-shadow: 3px 4px 5px black;
  transition: all 1s;
  text-transform: capitalize;
}
.navbar button:hover{
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1.1);
}

.navbar h1 {
  font-size: 14px;
  text-align: right;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100%;
  align-items: center;

}

.leftSide {
  display: flex;
  margin: 0;
}

.rightSide {
  display: flex;
  flex-direction: column;
}
.leftSide .title{
  color: #c79f00;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftSide .title button{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.leftSide .title button img{
  width: 30px;
}
.leftSide .body .textPar{
  margin: 1%;
  text-indent: 2em;
  text-align: justify;
  font-weight: normal;
}

.leftSide .body .author{
  margin: 1%;
  font-weight: lighter;
  text-indent: 2em;
  font-size: 20px;
  text-align: right;

}

.rightSide .addCommentContainer {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addCommentContainer input{
  width: 450px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: black;
  color: var(--yellow);
  width: 70px;
}

.addCommentContainer input {
  border: 1px solid black;
  padding: 15px;
}

.rightSide .listOfComments {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70vw;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

.listOfComments .comment .top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.listOfComments .comment .top button{
  width: 40px;
  height: 40px;
}
#individual {
  height: 500px;
  
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  padding-top: 100px;
}

.loginContainer input,
button {
  width: 30%;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: var(--yellow);
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.loginContainer button:hover {
  background-color: #c79f00;
  cursor: pointer;
}

.loginContainer input {
  border: 1px solid var(--yellow);
  padding-left: 1%;
  font-size: 16px;
  
}

.changePass{
  background-color: var(--yellow);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; 
  width: auto;
  padding: 10px;
}
.changePass:hover{
  background-color: #c79f00;
}
.basicInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
}
.basicInfo h1{
  margin-left: 5%;
}